export(dont_ask

       is.gui,
       gui_add,
       gui_ask,
       "gui_ask<-",
       gui_change,
       gui_list,
       gui_remove,
       gui_widgets,
       "gui_widgets<-",
       setUI,
       startUI,

       dontAsk,
       guiAdd,
       guiAsk,
       "guiAsk<-",
       guiChange,
       guiList,
       guiRemove,
       guiWidgets,
       "guiWidgets<-")

S3method("$", gui)
S3method(print, gui)
S3method(setUI, gui)
S3method(startUI, gui)
